target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/src/main/webapp/classic/
/src/main/webapp/ext/
/src/main/webapp/modern/
/src/main/webapp/modern.json
/src/main/webapp/classic.json
/src/main/webapp/index.html
/src/main/webapp/cache.appcache
/src/main/webapp/archive/
/src/main/sencha/build/
/src/main/webapp/resources/ext/
/src/main/webapp/resources/font-awesome/
/src/main/webapp/resources/font-ext/
/src/main/webapp/resources/fonts/
/src/main/webapp/resources/Patients-all.css
/src/main/webapp/resources/Patients-all_1.css
/src/main/webapp/resources/Patients-all_2.css
/src/main/sencha/sass/example/bootstrap.json
/src/main/sencha/classic.json
/src/main/sencha/modern.json
/test1/nbproject/private/
/nbproject/
/src/main/webapp/resources/images/breadcrumb/
/src/main/webapp/resources/images/btn-group/
/src/main/webapp/resources/images/btn/
/src/main/webapp/resources/images/button/
/src/main/webapp/resources/images/datepicker/
/src/main/webapp/resources/images/dd/
/src/main/webapp/resources/images/editor/
/src/main/webapp/resources/images/fieldset/
/src/main/webapp/resources/images/form/
/src/main/webapp/resources/images/grid-row-editor-buttons/
/src/main/webapp/resources/images/grid/
/src/main/webapp/resources/images/loadmask/
/src/main/webapp/resources/images/menu/
/src/main/webapp/resources/images/panel-header/
/src/main/webapp/resources/images/panel/
/src/main/webapp/resources/images/pictos/
/src/main/webapp/resources/images/shared/
/src/main/webapp/resources/images/sizer/
/src/main/webapp/resources/images/slider/
/src/main/webapp/resources/images/tab-bar/
/src/main/webapp/resources/images/tab/
/src/main/webapp/resources/images/tip/
/src/main/webapp/resources/images/toolbar/
/src/main/webapp/resources/images/tools/
/src/main/webapp/resources/images/tree/
/src/main/webapp/resources/images/util/
/src/main/webapp/resources/images/window-header/
/src/main/webapp/resources/images/window/
/src/main/webapp/resources/