/.settings/
/.classpath
/.factorypath
/.project
/.springBeans
/.settings

/.idea/
/nbproject/

/.gradle/

/.apt_generated/

/target/
/**/target
/build/
/**/build/
/**/out

/app.log*
/**/*.log
/**/*.bak
/*~
/tomcat/
/log/

backend/patients/src/main/resources/keystore.p12
/node_modules/
/**/*.out
/*.log.*.gz
