target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/src/main/webapp/classic/
/src/main/webapp/ext/
/src/main/webapp/modern/
/src/main/webapp/modern.json
/src/main/webapp/classic.json
/src/main/webapp/index.html
/src/main/webapp/cache.appcache
/src/main/webapp/archive/
/src/main/sencha/build/
/src/main/webapp/resources/ext/
/src/main/webapp/resources/font-awesome/
/src/main/webapp/resources/font-ext/
/src/main/webapp/resources/fonts/
/src/main/webapp/resources/Patients-all.css
/src/main/webapp/resources/Patients-all_1.css
/src/main/webapp/resources/Patients-all_2.css
/src/main/sencha/sass/example/bootstrap.json
/src/main/sencha/classic.json
/src/main/sencha/modern.json
/test1/nbproject/private/
/nbproject/