/build/
/bootstrap.css
/bootstrap.js
/bootstrap.json
/bootstrap.jsonp
/i18n-*.js
/sencha-error-*.log
/app/model/Address.js
/app/model/Contact.js
/app/model/ContactMethod.js
/app/model/Diagnosis.js
/app/model/Patient.js
/app/model/PersistentLogin.js
/app/model/User.js
/app/model/UserSettings.js
/app/model/Project.js
/app/model/CountryDictionary.js
/app/model/ZipCodePoland.js