Witaj,<br>
<br>
Twoje hasło zostalo zresetowane w aplikacji Patients.<br>
Aby zmienić hasło kliknij:<br>
<a href="{{{link}}}">{{link}}</a><br>
<br>
<br>
Tój login to: {{{loginName}}}<br>
<br>
To jest wiadomość automatyczna.  Nie odpowiadaj na nią!<br>
<br>
Z serdecznymi pozdrowieniami<br>
Administrator